<form class="flexcol playerSheet {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <h2>Player Character Sheet</h2>
    </header>

    <div class="flexLine">
        <div class="resourceBox">
            <div>
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                    width="100" />
                <span>
                    <h4>Name</h4><input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                </span>
                <span>
                    <h4>Level</h4><input name="data.level.value" type="text" value="{{data.level.value}}"
                        data-dtype="Number" />
                </span>
                <span>
                    <h4>Class</h4><input name="" type="text" placeholder="not used" />
                </span>
            </div>
        </div>
    </div>

    <div class="flexLine">
        <div class="resourceBox">
            <h3>Health</h3>
            <div>
                <span>
                    <h4>Current</h4><input type="text" name="data.hp.value" value="{{data.hp.value}}"
                        data-dtype="Number" />
                </span>
                <span>
                    <h4>Max</h4><input type="text" name="data.hp.max" value="{{data.hp.max}}" data-dtype="Number" />
                </span>
                <span>
                    <h4>Temp</h4><input type="text" name="data.hp.temporary" value="{{data.hp.temporary}}"
                        data-dtype="Number" />
                </span>
                <span>
                    <h4>Bloodied</h4><input type="text" name="data.hp.bloodied" disabled="true"
                        value="{{data.hp.bloodied}}" data-dtype="Number" />
                </span>
            </div>
        </div>

        <div class="resourceBox">
            <h3>Surges</h3>
            <div>
                <span>
                    <h4>Current</h4><input type="text" name="data.surges.value" value="{{data.surges.value}}"
                        data-dtype="Number" />
                </span>
                <span>
                    <h4>Max</h4><input type="text" name="data.surges.max" value="{{data.surges.max}}"
                        data-dtype="Number" />
                </span>
            </div>
        </div>

    </div>

    <div class="flexRow">
        <section class="inputStack">
            <h3>Passives</h3>
            <div>
                <span>
                    <h4>Initiative</h4><input type="text" name="data.initiative.value" value="{{data.initiative.value}}"
                        data-dtype="Number" />
                </span>
                <span>
                    <h4>Movement</h4><input type="text" name="data.movement.value" disabled="true"
                        value="{{data.movement.value}}" data-dtype="Number" />
                </span>
                <span>
                    <h4 class="d20roll" data-roll="perception.bonus" data-roll-type="Perception Roll">Perception</h4>
                    <input type="text" name="data.senses.perception.value" value="{{data.senses.perception.value}}"
                        data-dtype="Number" />
                </span>
                <span>
                    <h4 class="d20roll" data-roll="insight.bonus" data-roll-type="Insight Roll">Insight</h4><input
                        type="text" name="data.senses.insight.value" value="{{data.senses.insight.value}}"
                        data-dtype="Number" />
                </span>
            </div>
        </section>


        <section class="inputStack">
            <h3>Defenses</h3>
            <div>
                <span>
                    <h4>AC</h4>
                    <input type="text" name="data.ac.value" value="{{data.ac.value}}" data-dtype="Number" />
                </span>
                <span>
                    <h4>Fortitude</h4>
                    <input type="text" name="data.fortitude.value" value="{{data.fortitude.value}}"
                        data-dtype="Number" />
                </span>
                <span>
                    <h4>Reflex</h4>
                    <input type="text" name="data.reflex.value" value="{{data.reflex.value}}" data-dtype="Number" />
                </span>
                <span>
                    <h4>Will</h4>
                    <input type="text" name="data.will.value" value="{{data.will.value}}" data-dtype="Number" />
                </span>
            </div>
        </section>

    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item h3" data-tab="attributes">Attributes</a>
        <a class="item h3" data-tab="skills">Skills</a>
        <a class="item h3" data-tab="items">Items</a>
        <a class="item h3" data-tab="powers">Powers</a>
    </nav>


    {{!-- Sheet Body --}}
    <section class="sheet-body grow">
        {{!-- Attributes Tab --}}
        <div class="tab attributes inputStack" data-group="primary" data-tab="attributes">
            <span>
                <h4 class="d20roll" data-roll="strength.bonus" data-roll-type="Strength Check">Strength</h4>
                <input type="text" name="data.strength.value" value="{{data.strength.value}}" data-dtype="Number" />
            </span>
            <span>
                <h4 class="d20roll" data-roll="constitution.bonus" data-roll-type="Constitution Check">Constitution</h4>
                <input type="text" name="data.constitution.value" value="{{data.constitution.value}}"
                    data-dtype="Number" />
            </span>
            <span>
                <h4 class="d20roll" data-roll="dexterity.bonus" data-roll-type="Dexterity Check">Dexterity</h4>
                <input type="text" name="data.dexterity.value" value="{{data.dexterity.value}}" data-dtype="Number" />
            </span>
            <span>
                <h4 class="d20roll" data-roll="intelligence.bonus" data-roll-type="Intelligence Check">Intelligence</h4>
                <input type="text" name="data.intelligence.value" value="{{data.intelligence.value}}"
                    data-dtype="Number" />
            </span>
            <span>
                <h4 class="d20roll" data-roll="wisdom.bonus" data-roll-type="Wisdom Check">Wisdom</h4>
                <input type="text" name="data.wisdom.value" value="{{data.wisdom.value}}" data-dtype="Number" />
            </span>
            <span>
                <h4 class="d20roll" data-roll="charisma.bonus" data-roll-type="Charisma Check">Charisma</h4>
                <input type="text" name="data.charisma.value" value="{{data.charisma.value}}" data-dtype="Number" />
            </span>
        </div>
        <!-- {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div> -->
        <div class="tab skills flexrow" data-group="primary" data-tab="skills">
            <section class="inputStack">
                <span>
                    <h5 class="d20roll" data-roll="acrobatics.bonus" data-roll-type="Acrobatics skill check">Acrobatics
                    </h5>
                    <input type="checkbox" value="true" name="data.acrobatics.trained" {{#if data.acrobatics.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.acrobatics.value" value="{{data.acrobatics.value}}"
                        data-dtype="Number" />
                    <span>{{data.acrobatics.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="arcana.bonus" data-roll-type="Arcana skill check">Arcana</h5>
                    <input type="checkbox" value="true" name="data.arcana.trained" {{#if data.arcana.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.arcana.value" value="{{data.arcana.value}}" data-dtype="Number" />
                    <span>{{data.arcana.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="athletics.bonus" data-roll-type="Athletics skill check">Athletics
                    </h5>
                    <input type="checkbox" value="true" name="data.athletics.trained" {{#if data.athletics.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.athletics.value" value="{{data.athletics.value}}"
                        data-dtype="Number" />
                    <span>{{data.athletics.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="bluff.bonus" data-roll-type="Bluff skill check">Bluff</h5>
                    <input type="checkbox" value="true" name="data.bluff.trained" {{#if data.bluff.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.bluff.value" value="{{data.bluff.value}}" data-dtype="Number" />
                    <span>{{data.bluff.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="diplomacy.bonus" data-roll-type="Diplomacy skill check">Diplomacy
                    </h5>
                    <input type="checkbox" value="true" name="data.diplomacy.trained" {{#if data.diplomacy.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.diplomacy.value" value="{{data.diplomacy.value}}"
                        data-dtype="Number" />
                    <span>{{data.diplomacy.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="dungeoneering.bonus" data-roll-type="Dungeoneering skill check">
                        Dungeoneering</h5>
                    <input type="checkbox" value="true" name="data.dungeoneering.trained" {{#if
                        data.dungeoneering.trained}} checked="checked" {{/if}} />
                    <input type="text" name="data.dungeoneering.value" value="{{data.dungeoneering.value}}"
                        data-dtype="Number" />
                    <span>{{data.dungeoneering.bonus}}</span>
                </span>
            </section>
            <section class="inputStack">
                <span>
                    <h5 class="d20roll" data-roll="endurance.bonus" data-roll-type="Endurance skill check">Endurance
                    </h5>
                    <input type="checkbox" value="true" name="data.endurance.trained" {{#if data.endurance.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.endurance.value" value="{{data.endurance.value}}"
                        data-dtype="Number" />
                    <span>{{data.endurance.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="heal.bonus" data-roll-type="Heal skill check">Heal</h5>
                    <input type="checkbox" value="true" name="data.heal.trained" {{#if data.heal.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.heal.value" value="{{data.heal.value}}" data-dtype="Number" />
                    <span>{{data.heal.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="history.bonus" data-roll-type="History skill check">History</h5>
                    <input type="checkbox" value="true" name="data.history.trained" {{#if data.history.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.history.value" value="{{data.history.value}}" data-dtype="Number" />
                    <span>{{data.history.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="insight.bonus" data-roll-type="Insight skill check">Insight</h5>
                    <input type="checkbox" value="true" name="data.insight.trained" {{#if data.insight.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.insight.value" value="{{data.insight.value}}" data-dtype="Number" />
                    <span>{{data.insight.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="intimidate.bonus" data-roll-type="Intimidate skill check">Intimidate
                    </h5>
                    <input type="checkbox" value="true" name="data.intimidate.trained" {{#if data.intimidate.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.intimidate.value" value="{{data.intimidate.value}}"
                        data-dtype="Number" />
                    <span>{{data.intimidate.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="nature.bonus" data-roll-type="Nature skill check">Nature</h5>
                    <input type="checkbox" value="true" name="data.nature.trained" {{#if data.nature.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.nature.value" value="{{data.nature.value}}" data-dtype="Number" />
                    <span>{{data.nature.bonus}}</span>
                </span>
            </section>
            <section class="inputStack">
                <span>
                    <h5 class="d20roll" data-roll="perception.bonus" data-roll-type="Perception skill check">Perception
                    </h5>
                    <input type="checkbox" value="true" name="data.perception.trained" {{#if data.perception.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.perception.value" value="{{data.perception.value}}"
                        data-dtype="Number" />
                    <span>{{data.perception.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="religion.bonus" data-roll-type="Religion skill check">Religion</h5>
                    <input type="checkbox" value="true" name="data.religion.trained" {{#if data.religion.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.religion.value" value="{{data.religion.value}}" data-dtype="Number" />
                    <span>{{data.religion.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="stealth.bonus" data-roll-type="Stealth skill check">Stealth</h5>
                    <input type="checkbox" value="true" name="data.stealth.trained" {{#if data.stealth.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.stealth.value" value="{{data.stealth.value}}" data-dtype="Number" />
                    <span>{{data.stealth.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="streetwise.bonus" data-roll-type="Streetwise skill check">Streetwise
                    </h5>
                    <input type="checkbox" value="true" name="data.streetwise.trained" {{#if data.streetwise.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.streetwise.value" value="{{data.streetwise.value}}"
                        data-dtype="Number" />
                    <span>{{data.streetwise.bonus}}</span>
                </span>
                <span>
                    <h5 class="d20roll" data-roll="thievery.bonus" data-roll-type="Thievery skill check">Thievery</h5>
                    <input type="checkbox" value="true" name="data.thievery.trained" {{#if data.thievery.trained}}
                        checked="checked" {{/if}} />
                    <input type="text" name="data.thievery.value" value="{{data.thievery.value}}" data-dtype="Number" />
                    <span>{{data.thievery.bonus}}</span>
                </span>
            </section>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <h3>Weapons</h3>
            <ol class="item-list">
                {{#each inventory.weapon.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    {{item.name}}
                    <div class="item-controls flexrow">
                        <a class="item-control item-delete" title='Delete'><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>


            <h3>Armor</h3>
            <ol class="item-list">
                {{#each inventory.armor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    {{item.name}}
                    <div class="item-controls flexrow">
                        <a class="item-control item-delete" title='Delete'><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Powers Tab --}}
        <div class="tab powers" data-group="primary" data-tab="powers">
            <h3>Powers</h3>
            <ol class="item-list">
                {{#each inventory.power.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    {{item.name}}
                    <div class="item-controls flexrow">
                        <a class="item-control item-delete" title='Delete'><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </section>


</form>